/* MessageCloud custom SCSS */

.container {
    padding-top: 15px;
}

.title {
    margin-top: 40px;
}

.call-card-wrapper {
    margin-top: 40px;
}

//Arrows
.arrow {
    width: 6%;
}

.incoming {
    transform: rotate(180deg);
    padding-top: 3px;
    padding-right: 10px;
}

.outgoing {
    padding-left: 10px;
}

//Buttons
.answer-button,
.call-support-button {
  width: 48%;
  float: left;
}

.hangup-button {
  width: 48%;
  float: right;
}
